<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script src="../Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script>

    </script>
</head>
<body>
    <div class="chatbox">
        <div class="chatlogs">
            <ul id="discussion"></ul>

        </div>
        <div class="chat-form">
            <textarea id="message"></textarea>
            <button id="sendmessage">Send</button>
        </div>
		 <input type='file' id="imgInp" onchange="readURL(this);" />
		  <div class="Image" id="blah" style="background-image: "url('IMG_20161118_190028.jpg')";margin-top:20px; width:150px;height:150px;max-width: 100%; height: auto;">
		 <!-- <img id="blah" src="#" alt="image" style="margin-top:20px; width:150px;height:150px;max-width: 100%; height: auto;" /> -->
    </div>
    <script>
        $(function () {
            $('#sendmessage').click(function () {
                if ($('#message').val()!='') {
                    $('#discussion').append('<div class="chat friend"><div class="user-photo"><img src="../Images/FB_IMG_1472642083991.jpg"/> </div> <p class="chat-message">' + $('#message').val() + ' </p> </div>');
                    $('#message').val('').focus();
                }
            });
        });
		 document.getElementById('imgt').style.backgroundImage = "url('+e.target.result+')";
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					document.getElementById('blah').style.backgroundImage =  "url("+ e.target.result+")";
				}	

			reader.readAsDataURL(input.files[0]);
			}
		}
    </script>
</body>

</html>
